html {
  font-family: "Inter", "Roboto", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "Roboto", sans-serif;
  }
}
body {
  margin: 1em;
  --text-color: #111;
  --background-color: #fefefe;
  --link-color: #2767d9;
  color: #111;
  color: var(--text-color);
  background-color: #fefefe;
  background-color: var(--background-color);
}
body, a[href] {
  transition: color .2s ease, background-color .2s ease;
}
@media (prefers-color-scheme: dark) {
  body {
    --text-color: #fefefe;
    --background-color: #111;
    --link-color: #61daff;
  }
}
body.light {
  --text-color: #111;
  --background-color: #fefefe;
  --link-color: #2767d9;
}
body.dark {
  --text-color: #fefefe;
  --background-color: #111;
  --link-color: #61daff;
}
header, main, footer {
  max-width: 800px;
  margin: auto;
}
footer {
  padding-bottom: 1em;
}
h1, h2, h3 {
  margin: 1.5em 0 .5em;
}
p {
  margin: .75em 0;
  text-indent: 1em;
}
label {
  font: inherit;
  display: block;
  text-align: right;
  font-size: 80%;
  vertical-align: middle;
}
a[href] {
  color: var(--link-color);
  text-decoration: none;
}
a[href]:hover, a[href]:focus {
  text-decoration: underline;
}
em, b, strong {
  font-weight: 600;
}
a[href^="#"] {
  vertical-align: super;
  font-size: 80%;
}
.timestamp {
  text-align: right;
  color: #aaa;
  font-size: 85%;
}