<h2 id="contexto">
	<a href="#contexto"></a>
	Contexto
</h2>
<section>
	<p>
		Em agosto de 2021, perguntei ao Registro.br se a zona de DNS do .BR era
		pública. Recebi uma resposta negativa, me informando que o máximo disponível
		ao público era a <a href="https://registro.br/dominio/estatisticas/">página
		de estatísticas do Registro.br</a>. Então, comecei a compilar a zona eu
		mesmo. Este é o resultado. Uma lista não oficial e voluntariamente mantida
		de todos os domínios registrados diretamente sob .BR.
	</p>
	<p>
		No início dos anos 2000, o Comitê Gestor da Internet (CGI) no Brasil
		relatou abuso no registro de DPNs no .BR, e tomou a decisão de limitar
		o registro de novos DPNs, o que até então era liberado.<sup><a href="#ref1">[1]</a></sup>
		De fato, verificando a lista compilada, múltiplas instituições possuem
		mais de 20 DPNs.
	</p>
	<p>
		Assim, desde <i>circa</i> 2005, pouquíssimos novos domínios .BR foram
		registrados. Portanto, é possível compilar uma lista completa com todos
		eles – e o objetivo desse projeto era construí-la.
	</p>
	<strong>Referências</strong>
	<ol>
		<li id="ref1">
			<a href="https://www.nic.br/registro-nota-edu/">Nota de Esclarecimento
			sobre utilização do DPN .edu</a>. <i>Núcleo de Informação e
			Coordenação do Ponto BR</i>.
		</li>
	</ol>
</section>
<hr>
