<h2 id="diferencas-oficiais">
	<a href="#diferencas-oficiais"></a>
	Diferenças das estatísticas oficiais
</h2>
<section>
	<p>
		Diferentemente dos <%= TOTAL_DOMAINS %> domínios que eu encontrei,
		a página de estatísticas do Registro.br alega somente
		<%= STATS_DOMAINS %> domínios registrados
		diretamente sob o .BR. Com esse projeto, pude determinar com algum nível
		de confiança que esse número não inclui os
		<%= SUB_DOMAINS %> subdomínios pré-definidos (ex. COM.BR, NET.BR)
		ou o GOV.BR, que costumava ser um subdomínio mas posteriormente (circa 2018)
		virou um website.
	</p>
	<p>
		Na verdade, <%= STATS_DOMAINS %> é o número de domínios que
		respondem a queries de <i>whois</i>; o resto – os subdomínios – retorna
		coisas como "blocked_word: CG" ou "reserved: trademark".
	</p>
	<p>
		Contudo, há 2 subdomínios secretos, não mais disponíveis para registro e
		escondidos do público. Eles são CAN.BR e CRI.BR:
	</p>
	<h3 id="canbr">
		<a href="#canbr"></a>
		CAN.BR
	</h3>
	<p>
		Subdomínio para websites oficiais de candidatos eleitorais, seria
		sempre no formato &lt;NOME&gt;&#8288;&lt;NÚMERO&gt;.CAN.BR,
		correspondendo ao que um eleitor veria na urna no dia da votação.
	</p>
	<p>
		Por exemplo, durante as eleições para prefeito de Aracaju (SE), em
		2004, Marcelo Déda teve
		<a href="https://web.archive.org/web/20040922133232/http://www.deda13.can.br:80/">deda13.can.br</a>,
		e Jorge Alberto teve
		<a href="https://web.archive.org/web/20040828074414/http://www.jorgealberto15.can.br/interna.wsp?tmp_page=inicial&tmp_secao=1">jorgealberto15.can.br</a>
		(ambos os links, aqui, são para versões arquivadas dos websites).
	</p>
	<p>
		O CAN.BR parece ter sido usado em 5 eleições, começando em 2000; em
		seu pico, em 2008, mais de 9 mil domínios foram registrados sob ele.
		Contudo, desde 2009, nenhum novo domínio CAN.BR foi registrado.
	</p>
	<p>
		<small>Leia mais:
			<cite>
				Larissa Januário (24 de março de 2008).
				<a href="https://www.nic.br/noticia/na-midia/eleicoes-2008-candidatos-terao-dominio-can-br/">Eleições
				2008: candidatos terão domínio can.br</a>. <i>WNews</i>.
			</cite>
		</small>
	</p>
	<figure>
		<img src="can.br_2a.png">
		<figcaption>
			<small>
				Fonte:
				<a href="https://registro.br/stat/can.br_2a.png">Gráfico de domínios CAN.BR desde 1996</a>.
				<i>Registro.br</i>. Acesso em 29 de agosto de 2023.
			</small>
		</figcaption>
	</figure>
	<h3 id="cribr">
		<a href="#cribr"></a>
		CRI.BR
	</h3>
	<p>
		Subdomínio para Cartórios de Registro Imobiliário (ou CRIs). Aparece
		listado na categoria de domínios para pessoas jurídicas do Registro.br,
		com a obrigatoriedade de DNSSEC, em meados de setembro de 2015
		<small>(<a href="https://web.archive.org/web/20150917212327/http://registro.br/dominio/categoria.html">página arquivada</a>)</small>
		e desaparece novamente em meados de julho de 2017
		<small>(<a href="https://web.archive.org/web/20170715053211/https://registro.br/dominio/categoria.html">página arquivada</a>)</small>.
	</p>
	<p>
		Pelo gráfico oficial – que não está em nenhuma página, mas pode
		ser encontrado diretamente pelo URL – só um único domínio CRI.BR foi
		registrado na história, em meados de 2016. Pouco mais de um ano depois,
		ele foi apagado; e, desde então, nenhum outro domínio sob o CRI.BR existiu.
	</p>
	<p>
		Entrei em contato com o Registro.br em setembro de 2021, mas não
		recebi nenhuma informação sobre o subdomínio:
		"Infelizmente, não temos a informação que deseja acerca das DPNs
		aposentadas".
	</p>
	<figure>
		<img src="cri.br_2a.png">
		<figcaption>
			<small>
				Fonte:
				<a href="https://registro.br/stat/cri.br_2a.png">Gráfico de domínios CRI.BR desde 1996</a>.
				<i>Registro.br</i>. Acesso em 29 de agosto de 2023.
			</small>
		</figcaption>
	</figure>
</section>
<hr>